/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     text-align: center;
}
section{
     margin: 30px auto;
     text-align: center;
}
button{
     display: block;
     margin: 20px auto;
     padding: 20px;
     border-radius: 10px;
     border-style: groove;
     margin-top: 30px;
}
button:active{
     background-color: gold;
     color: green;
     font-size: 20px;
     font-weight: bold;

}
div {
     text-align: center;
     height: 340px;
}
.result {
     display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
